<div class="container">
  <div class="row">
    Por favor guarde el codigo QR en un lugar seguro para redimirlo mas adelante.
  </div>
  <div class="row">

      <qr-code class="canvasqr" value={{this.valor}} size=300 errorCorrectionLevel="H" centerImageSrc={{this.centerImage}}
        centerImageSize=120>
      </qr-code>

  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-block waves-effect waves-light red lighten-2 white-text" type="button" [routerLink]="'/'">Volver<i class="material-icons left">backspace</i></button>
    </div>
    <div class="col">
      <button class="btn btn-block waves-effect waves-light light-blue accent-4 white-text" type="button" (click)="goToRedimir()">Redimir<i class="material-icons left">sell</i></button>
    </div>

  </div>

</div>



