<div class="container">
  <div class="row">
    Por favor guarde el codigo QR en un lugar seguro para redimirlo mas adelante.
  </div>
  <div class="row">

    <canvas id="qrimage">
      <qr-code value={{this.valor}} size=300 errorCorrectionLevel="H" centerImageSrc={{this.ImgCaprichos}}
        centerImageSize=120>
      </qr-code>
    </canvas>


  </div>

  <div class="row">
    <button class="button" type="button" [routerLink]="'/'">Volver</button>
    <button class="button" type="button" (click)="goToRedimir()">Redime</button>
  </div>

</div>

<script type="text/javascript">
  var canvas = document.getElementById('qrimage');
  var ctx = canvas.getContext('2d');
  ctx.beginPath();
  ctx.arc(100, 100, 50, 1.5 * Math.PI, 0.5 * Math.PI, false);
  ctx.lineWidth = 10;
  ctx.stroke();
  var imgData = canvas.toDataURL();
</script>

