<div class="container">
  <div class="row">
    Por favor guarde el codigo QR en un lugar seguro para redimirlo mas adelante.
  </div>
  <div class="row">

    <qr-code value={{this.valor}} size=300 errorCorrectionLevel="H" centerImageSrc={{this.ImgRemicos}}
      centerImageSize=80>
    </qr-code>

  </div>

  <div class="row">
    <button class="button" type="button" [routerLink]="'/'">Volver</button>
    <button class="button" type="button" (click)="goToRedimir()">Redime</button>
  </div>

</div>
