<div class="container justify-content-center">
  <h3>Promo Caprichoso</h3>
  <div class="well span2">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
      <div class="form-group">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="correo" name="correo" class="autocomplete" formControlName="correo" required />
          <label for="correo">Correo electronico</label>
          <div class="alerta alert-danger mb-1" *ngIf="correo.errors?.required">
            Este campo es requerido
          </div>
          <div class="alerta  alert-danger mb-1" *ngIf="correo.errors?.pattern">
            Debe escribir un correo valido !!!
          </div>
        </div>



      </div>

      <div class="form-group">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="telefono" name="telefono" class="autocomplete" formControlName="telefono"/>
          <label for="telefono">Telefono de contacto</label>
        </div>


      </div>

      <div class="form-group">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="codigo" name="codigo" class="autocomplete" formControlName="codigo" required />
          <label for="codigo">Código de autorización</label>
          <div class="alerta alert-danger mb-1" *ngIf="codigo.errors?.required">
            Este campo es requerido
          </div>
          <div class="alerta  alert-danger mb-1" *ngIf="codigo.errors?.minlength">
            El codigo debe tener minimo 8 caracteres !!!
          </div>
        </div>


      </div>



      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="this.datosValidos">
        el usuario se envio con exito !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <button class="button" type="submit" [disabled]="!formulario.valid">Vender</button>



    </form>
  </div>



</div>



