<div class="container justify-content-center">
  <h3>Promo Caprichoso</h3>
  <div class="well span2">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
      <div class="form-group">
        <label for="correo">Correo electronico</label>
        <input type="text" name="correo" class="form-control" formControlName="correo" placeholder="correo@correo.com"
          required />
        <div class="alerta alert-danger mb-1" *ngIf="correo.errors?.required">
          Este campo es requerido
        </div>
        <div class="alerta  alert-danger mb-1" *ngIf="correo.errors?.pattern">
          Debe escribir un correo valido !!!
        </div>
      </div>

      <div class="form-group">
        <label for="telefono">Telefono de contacto</label>
        <input type="text" name="telefono" class="form-control" formControlName="telefono" placeholder="Telefono" />
        <div class="alerta alert-info" role="alert"></div>
      </div>

      <div class="form-group">
        <label for="codigo">Código de autorización</label>
        <input type="text" name="codigo" class="form-control" formControlName="codigo"
          placeholder="Código de aprobación" required />
        <div class="alerta alert-danger mb-1" *ngIf="codigo.errors?.required">
          Este campo es requerido
        </div>
        <div class="alerta  alert-danger mb-1" *ngIf="codigo.errors?.minlength">
          El codigo debe tener minimo 8 caracteres !!!
        </div>
      </div>



      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="this.datosValidos">
        el usuario se envio con exito !!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <button class="button" type="submit" [disabled]="!formulario.valid">Vender</button>
    </form>
  </div>

</div>
